* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html {
	font-family: "Montserrat", sans-serif;
}
body {
	background: #eee;
	padding: 0 16px;
}

header {
	background-color: #f5ba13;
	margin: auto -16px;
	padding: 16px 32px;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

header h1 {
	color: #fff;
	font-family: "McLaren", cursive;
	font-weight: 200;
}

footer {
	position: absolute;
	text-align: center;
	bottom: 0;
	width: 100%;
	height: 2.5rem;
}

footer p {
	color: #ccc;
}
.note {
	background: #fff;
	border-radius: 7px;
	box-shadow: 0 2px 5px #ccc;
	padding: 10px;
	width: 240px;
	margin: 16px;
	float: left;
}
.note h1 {
	font-size: 1.1em;
	margin-bottom: 6px;
}
.note p {
	font-size: 1.1em;
	margin-bottom: 10px;
	white-space: pre-wrap;
	word-wrap: break-word;
}

form {
	position: relative;
	width: 480px;
	margin: 30px auto 20px auto;
	background: #fff;
	padding: 15px;
	border-radius: 7px;
	box-shadow: 0 1px 5px rgb(138, 137, 137);
}

form input,
form textarea {
	width: 100%;
	border: none;
	padding: 4px;
	outline: none;
	font-size: 1.2em;
	font-family: inherit;
	resize: none;
}
form input {
	font-weight: 600;
}
form textarea {
	font-weight: 400;
}
form button {
	position: absolute;
	right: 1.5rem;
	bottom: -1.5rem;
	cursor: pointer;
	outline: none;
	border: none;
	height: 3rem;
	width: 3rem;
	background-color: #f5ba13;
	color: #fff;
	border-radius: 50%;
}
form button:hover {
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.8);
}
form button:active {
	box-shadow: none;
}
